
.lvl-edit-inner-container {
  text-align: center;
}

.lvl-edit-row {
  display: block;
  padding: 0em;
  margin: 0em;
}

.lvl-edit-square {
  display: inline-block;
  vertical-align: top;
  padding: 0em;
  margin: 0em;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px dashed rgba(114, 35, 61, 1);
  border-right: 1px dashed rgba(114, 35, 61, 1);
  -moz-user-select: none;
  user-select: none;
}

.lvl-edit-square:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.lvl-edit-square:first-child {
  border-left: 1px dashed rgba(114, 35, 61, 1);
}

.lvl-edit-row:first-child .lvl-edit-square {
  border-top: 1px dashed rgba(114, 35, 61, 1);
}

.lvl-edit-board-container {
  position: relative;
  vertical-align: top;
}

.lvl-edit-board {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 18;
}

.lvl-edit-canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 17;
}

.lvl-edit-bg-canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 16;
}

.lvl-edit-pm {
  border-radius: 0.5em;
  box-shadow: 0em 0.2em 0em 0em rgba(55, 117, 161, 1);
  background-color: rgba(78, 141, 188, 1);
  color: rgb(255, 255, 255, 1);
  text-shadow: 0em 0.1em 0em rgba(55, 117, 161, 1);
}

.lvl-edit-pm.left { border-top-right-radius: 0em; border-bottom-right-radius: 0em; }
.lvl-edit-pm.right { border-top-left-radius: 0em; border-bottom-left-radius: 0em; }
.lvl-edit-pm.top { border-bottom-left-radius: 0em; border-bottom-right-radius: 0em; }
.lvl-edit-pm.bottom { border-top-left-radius: 0em; border-top-right-radius: 0em; }

.lvl-edit-pm div.inner {
  -moz-user-select: none;
  user-select: none;
  border-radius: 0.5em;
  background-color: rgba(78, 168, 188, 0);
}

.lvl-edit-pm div.inner:hover {
  background-color: rgba(78, 168, 188, 1);
}

.lvl-edit-pm.left, .lvl-edit-pm.right {
  vertical-align: top;
  display: inline-block;
}

.lvl-edit-pm.left .lvl-edit-pm-inner, .lvl-edit-pm.right .lvl-edit-pm-inner {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.lvl-edit-pm.top, .lvl-edit-pm.bottom {
  margin-left: auto;
  margin-right: auto;
}

.lvl-edit-pm.left div.inner, .lvl-edit-pm.right div.inner {
  height: 50%;
  padding-left: 1em;
  padding-right: 1em;
}

.lvl-edit-pm.left div.inner span, .lvl-edit-pm.right div.inner span {
  display: inline-block;
  vertical-align: middle;
}

.lvl-edit-pm.top div.inner, .lvl-edit-pm.bottom div.inner {
  vertical-align: top;
  display: inline-block;
  width: 50%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.lvl-edit-menu-outer, .lvl-edit-color-outer {
  display: inline-block;
  border-radius: 0.5em;
  box-shadow: 0em 0.2em 0em 0em rgba(55, 117, 161, 1);
  background-color: rgba(78, 141, 188, 1);
  color: rgb(255, 255, 255, 1);
  text-shadow: 0em 0.1em 0em rgba(55, 117, 161, 1);
  margin-bottom: 2em;
}

.lvl-edit-menu-inner, .lvl-edit-color-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.lvl-edit-menu-btn {
  border-radius: 0.5em;
  -moz-user-select: none;
  user-select: none;
  background-color: rgba(78, 168, 188, 0);
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.lvl-edit-menu-btn.disabled {
  background-color: rgba(134, 134, 134, 1);
  text-shadow: 0em 0.1em 0em rgba(111, 111, 111, 1);
}

.lvl-edit-menu-btn img {
  width: 1.5em;
  display: block;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0em 0.1em 0em rgba(55, 117, 161, 1));
}

.lvl-edit-menu-btn.selected {
  text-shadow: 0em 0.1em 0em rgba(114, 35, 61, 1);
}

.lvl-edit-menu-btn:not(.disabled):hover {
  background-color: rgba(78, 168, 188, 1);
}

.lvl-edit-color-btn {
  border-radius: 0.5em;
  -moz-user-select: none;
  background-clip: border-box;
  user-select: none;
  border: 0.125em solid rgba(78, 168, 188, 0);
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.lvl-edit-color-btn.selected {
  border: 0.125em solid rgba(114, 35, 61, 1);
  text-shadow: 0em 0.1em 0em rgba(114, 35, 61, 1);
}

.lvl-edit-color-btn:hover {
  border: 0.125em solid rgba(78, 168, 188, 1);
}
