
body {
  font-size: 1.1em;
}

h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 5em;
  text-align: center;
}

h1, h2 {
  /*-webkit-text-stroke: 0.025em rgba(55, 117, 161, 1);*/
  letter-spacing: 0.05em;
  text-shadow:
     -0.1em     0em 0em rgba(114, 35, 61, 1),  
      0.1em     0em 0em rgba(114, 35, 61, 1),
        0em  -0.1em 0em rgba(114, 35, 61, 1),
        0em   0.1em 0em rgba(114, 35, 61, 1),
    -0.07em -0.07em 0em rgba(114, 35, 61, 1),  
     0.07em -0.07em 0em rgba(114, 35, 61, 1),
    -0.07em  0.07em 0em rgba(114, 35, 61, 1),
     0.07em  0.07em 0em rgba(114, 35, 61, 1);
}

h1 .s1 { color: rgba(255, 146, 82, 1); }
h1 .s2 { color: rgba(242, 234, 82, 1); }
h1 .s3 { color: rgba(103, 255, 104, 1); }
h1 .s4 { color: rgba(82, 232, 242, 1); }
h1 .s5 { color: rgba(96, 160, 255, 1); }
h1 .s6 { color: rgba(177, 108, 248, 1); }
h1 .s7 { color: rgba(245, 82, 133, 1); }

h2 {
  text-align: center;
  font-size: 2.5em;
  color: rgba(255, 255, 255, 1);
}

div.bordered-text {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  letter-spacing: 0.05em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

div.bordered-text, .lvl-menu-checkbox-label, .text-field-label {
  text-shadow:
     -0.1em     0em 0em rgba(55, 117, 161, 1),  
      0.1em     0em 0em rgba(55, 117, 161, 1),
        0em  -0.1em 0em rgba(55, 117, 161, 1),
        0em   0.1em 0em rgba(55, 117, 161, 1),
    -0.07em -0.07em 0em rgba(55, 117, 161, 1),  
     0.07em -0.07em 0em rgba(55, 117, 161, 1),
    -0.07em  0.07em 0em rgba(55, 117, 161, 1),
     0.07em  0.07em 0em rgba(55, 117, 161, 1);
}

.text-field-label {
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.lvl-menu-checkbox-label {
  display: block;
  margin-bottom: 1em;
  text-align: center;
  color: rgba(199, 236, 255, 1);
}

.lvl-menu-checkbox-label:hover {
  color: rgba(255, 255, 255, 1);
}

.lvl-menu-checkbox-label.top-margin {
  margin-top: 1em;
}

.lvl-menu-checkbox {
  display: none;
}

.lvl-menu-checkbox-label::before {
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  margin-right: 1em;
  position: relative;
  top: 0.3em;
}

.lvl-menu-checkbox + .lvl-menu-checkbox-label::before {
  content: url(box-not-checked-blue.svg);
}

.lvl-menu-checkbox:checked + .lvl-menu-checkbox-label::before {
  content: url(box-checked-blue.svg);
}

.lvl-menu-checkbox + .lvl-menu-checkbox-label:hover::before {
  content: url(box-not-checked.svg);
}

.lvl-menu-checkbox:checked + .lvl-menu-checkbox-label:hover::before {
  content: url(box-checked.svg);
}

.info-icon {
  filter: drop-shadow(0em 0.1em 0em rgba(55, 117, 161, 1));
  margin-top: 0.1em;
  display: block;
  height: 1.5em;
}

.lvl-sel-collection, .controls-table {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(78, 141, 188, 1);
  border-radius: 0.5em;
  box-shadow: 0em 0.2em 0em 0em rgba(55, 117, 161, 1);
  border-collapse: collapse;
}

.lvl-sel-collection td, .lvl-sel-collection th, .controls-table td, .controls-table th {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0em 0.1em 0em rgba(55, 117, 161, 1);
  text-align: center;
}

.lvl-sel-collection td.icon-td, .lvl-sel-collection th.icon-td {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0em;
  padding-bottom: 0em;
  min-width: 1.5em;
}

.lvl-sel-collection td.icon-td:last-child, .lvl-sel-collection th.icon-td:last-child {
  padding-right: 2em;
}

.lvl-sel-collection td:not(.icon-td):last-child, .lvl-sel-collection th:not(.icon-td):last-child {
  padding-right: 3em;
}

.lvl-sel-collection th, .controls-table th {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  font-weight: normal;
  font-size: 1.3em;
  border-bottom: 0.125em solid rgba(55, 117, 161, 1);
}

.lvl-sel-collection tr {
  background-color: rgba(78, 168, 188, 0);
  -moz-user-select: none;
  user-select: none;
}

.lvl-menu-checkbox-label {
  -moz-user-select: none;
  user-select: none;
}

.lvl-sel-collection tr:not(:first-child):hover {
  background-color: rgba(78, 168, 188, 1);
}

.lvl-menu-inner-container, .lvl-sel-inner-container, .lvl-edit-inner-container, .lvl-edit-overlay-inner {
  padding: 3em;
  margin-left: auto;
  margin-right: auto;
}

.lvl-sel-outer-container, .lvl-edit-outer-container {
  background-image: url(background.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a:link {
  text-decoration: none;
}

input[type="button"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  border-width: 0em;
  font-size: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 0.5em;
  box-shadow: 0em 0.2em 0em 0em rgba(55, 117, 161, 1);
  background-color: rgba(78, 141, 188, 1);
  color: rgba(255, 255, 255, 1);
  text-shadow: 0em 0.1em 0em rgba(55, 117, 161, 1);
  font-family: inherit;
  outline: none;
}

input[type="button"]:hover, input[type="button"]:focus {
  background-color: rgba(78, 168, 188, 1);
}

input[type="text"] {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 0.5em;
  background-clip: border-box;
  background-color: rgba(200, 228, 234, 1);
  box-shadow: 0em 0.2em 0em 0em rgba(55, 117, 161, 1);
  color: rgba(0, 0, 0, 1);
  font-family: inherit;
  outline: none;
  border: 0.125em solid rgba(78, 141, 188, 0);
}

input[type="text"]:hover, input[type="text"]:focus {
  border: 0.125em solid rgba(78, 141, 188, 1);
}
